#main {
    margin: 0px 100px;
}

/*Styling for the banner*/

.banner {
    font-family: helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url(../images/pattern.jpeg) ;
}

/*Styling for the subheadings*/

.subheadings {
    font-family: helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

/*styling for the subheading banners*/

#brushes {
    background-color: mediumspringgreen
}

#frames {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}

/*styling for the pricing*/

.bold_blue {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
}